{% extends "partials/_base.html" %}

{% load static %}

{% block title %}
    image to ascii art
{% endblock %}

{% block content %}

    <h2 class="game-list-header">Featured Games</h2>
    <div class="games-container featured-container">
        {% for game in featured_games %}
            <a class="game-card" href="{{ game.get_absolute_url }}">
                <img src="{{ game.cover_image.url }}" alt="" class="card-img-top shadow">
                <div class="card-overlay">
                    <div class="game-card-title">
                        <h3>{{ game.title }}</h3>
                        <p>{{ game.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2 class="game-list-header">All Games</h2>
    <div class="games-container">
        {% for game in games %}
            <a class="game-card" href="{{ game.get_absolute_url }}">
                <img src="{{ game.cover_image.url }}" alt="" class="card-img-top shadow">
                <div class="card-overlay">
                    <div class="game-card-title">
                        <h3>{{ game.title }}</h3>
                        <p>{{ game.description }}</p>
                    </div>
                </div>

            </a>
        {% endfor %}
    </div>
    <div class="about shadow">
        <h1>Play free typing games</h1>
        <p>jasldjfkljasdkj jlksdjgklasd jdlkgjsdka hkjlgjsdaj glksjadlæ gjsjdagl jalæsjg asjlgjl sajglæjaslægj a</p>
    </div>

{% endblock %}