{% extends "partials/_base.html" %}

{% load static %}

{% block title %}Free Typing Games - Improve Typing Speed | Keyboarding Games{% endblock %}

{% block content %}

    <h2 class="game-list-header">Featured Games</h2>
    <div class="games-container featured-container">
        {% for game in featured_games %}
            <a class="game-card" href="{{ game.get_absolute_url }}">
                <img src="{{ game.cover_image.url }}" alt="" class="card-img-top shadow">
                <div class="card-overlay">
                    <div class="game-card-title">
                        <h3>{{ game.title }}</h3>
                        <p>{{ game.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2 class="game-list-header">All Games</h2>
    <div class="games-container">
        {% for game in games %}
            <a class="game-card" href="{{ game.get_absolute_url }}">
                <img src="{{ game.cover_image.url }}" alt="" class="card-img-top shadow">
                <div class="card-overlay">
                    <div class="game-card-title">
                        <h3>{{ game.title }}</h3>
                        <p>{{ game.description }}</p>
                    </div>
                </div>

            </a>
        {% endfor %}
    </div>
    <div class="about shadow">
        <h1>Play online free online typing games and keyboarding games</h1>
        <p>
            At keyboarding-games.com, you can practice typing and improve your typing speed by playing keyboarding games and fun online typing games.These online typing games are specifically designed to help you improve your typing skills while having fun. Be sure to check back sometimes as we always develop new free online typing games to enjoy.
        </p>
    </div>

{% endblock %}