
{% extends "partials/_base.html" %}

{% load static %}
{% load markdown_extras %}

{% block title %}{{ package.game.title }} - Free Games | Keyboarding Games{% endblock %}
{% block description %}{{ package.game.description }}{% endblock %}

{% block og-url %}{{request.build_absolute_uri}}{% endblock %}
{% block og-tilte %}{{ package.game.title }}{% endblock %}
{% block og-image %}{{ package.game.cover_image.url }}{% endblock %}
{% block og-image-alt %}{{ package.game.title }} cover image{% endblock %}

{% block content %}
    <div class="game shadow">
        <iframe id="game-frame" name="GameFrame" src="{{ MEDIA_URL }}{{ package.get_index }}" width="960" height="600"></iframe>

        <div class="game-content">
            <h1>{{ package.game.title }}</h1>
            <p>{{ package.game.description | markdown | safe }}</p>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        window.addEventListener("load", function () {
            var frame = document.getElementById("game-frame");

            frame.focus();

            frame.addEventListener("focusout", function () {
                this.focus();
            })

            var body = frame.contentWindow.document.querySelector("body");

            body.style.overflow = "hidden"
        })
    </script>
{% endblock scripts %}
